<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/java_ecommerce?useSSL=false</property>
        
        <property name="connection.username">YOUR_DB_USERNAME</property>
        <property name="connection.password">YOUR_DB_PASSWORD</property>
        
  	<property name="hbm2ddl.auto">update</property>
        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">200</property>
        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>	
        
        <mapping class="java_ecommerce.hibernate.model.Category"/>
        <mapping class="java_ecommerce.hibernate.model.Product"/>  		
  		<mapping class="java_ecommerce.hibernate.model.User"/>  		
  		<mapping class="java_ecommerce.hibernate.model.Order"/>
  		<mapping class="java_ecommerce.hibernate.model.OrderItem"/>
  		<mapping class="java_ecommerce.hibernate.model.CartItem"/>
  		  		
    </session-factory>
    
</hibernate-configuration>