<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>java_ecommerce.hibernate.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <display-name>java-ecommerce</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>java_ecommerce.hibernate.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>java_ecommerce.hibernate.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryOperationServlet</display-name>
    <servlet-name>CategoryOperationServlet</servlet-name>
    <servlet-class>java_ecommerce.hibernate.servlets.CategoryOperationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryOperationServlet</servlet-name>
    <url-pattern>/CategoryOperationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductOperationServlet</display-name>
    <servlet-name>ProductOperationServlet</servlet-name>
    <servlet-class>java_ecommerce.hibernate.servlets.ProductOperationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductOperationServlet</servlet-name>
    <url-pattern>/ProductOperationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderOperationServlet</display-name>
    <servlet-name>OrderOperationServlet</servlet-name>
    <servlet-class>java_ecommerce.hibernate.servlets.OrderOperationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderOperationServlet</servlet-name>
    <url-pattern>/OrderOperationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserOperationServlet</display-name>
    <servlet-name>UserOperationServlet</servlet-name>
    <servlet-class>java_ecommerce.hibernate.servlets.UserOperationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserOperationServlet</servlet-name>
    <url-pattern>/UserOperationServlet</url-pattern>
  </servlet-mapping>
</web-app>